html,
body {
  margin: 0px;
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(5, 16, 23);
  overflow: hidden;
}

.bar {
  display: flex;
  width: 20px;
  height: 200px;
  margin: 10vw;
  background-color: rgb(0, 221, 255);
  border-radius: 10px 10px 0 0;
  align-items: end;
  justify-content: center;
  box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}
.bar .circleHolder {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  position: absolute;
  height: 200px;
  width: 20px;
}
.bar .circle {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 25px;
  background-color: rgb(65, 232, 171);
  border: 1px black solid;
  border-radius: 20px;
  box-shadow: inset 0px 0px 7px 0px rgba(0, 0, 0, 0.75);
}
.bar .barBase {
  display: flex;
  background-color: rgb(0, 221, 255);
  width: 90vw;
  height: 20px;
  margin-bottom: -20px;
  margin-left: -40vw;
  margin-right: -40vw;
  border-radius: 10px;
  box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}
@media (min-width: 750px) {
  .bar {
    margin: 60px;
  }
  .bar .barBase {
    margin-left: -250px;
    margin-right: -250px;
  }
}

.bar-container {
  width: 100vw;
  display: inline-flex;
  justify-content: center;
}

.whole-Container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.whole-Container button {
  margin-top: 30px;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  background-color: rgb(0, 255, 187);
  border: 1px black solid;
}

.slidersContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.singleSliderContainer {
  margin: 20px;
  color: rgba(179, 252, 211, 0.88);
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  border-radius: 20px;
  background: #d3d3d3;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 30px; /* Set a specific slider handle width */
  height: 30px; /* Slider handle height */
  border-radius: 50%;
  background: #255fdc;
  cursor: pointer; /* Cursor on hover */
}
.slider::-moz-range-thumb {
  width: 30px; /* Set a specific slider handle width */
  height: 30px; /* Slider handle height */
  border-radius: 50%;
  border: transparent;
  background: #255fdc;
  cursor: pointer; /* Cursor on hover */
}

.blocked {
  pointer-events: none;
  opacity: 0.4;
}